aclocal.m4
autom4te.cache/
build-aux/
/compile
/config.guess
/config.guess~
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/config.sub~
/configure
/configure~
depcomp
.deps/
/doc/de/faked.1
/doc/de/fakeroot.1
/doc/es/faked.1
/doc/es/fakeroot.1
/doc/fr/faked.1
/doc/fr/fakeroot.1
/doc/nl/faked.1
/doc/nl/fakeroot.1
/doc/pt/faked.1
/doc/pt/fakeroot.1
/doc/ro/faked.1
/doc/ro/fakeroot.1
/doc/sv/faked.1
/doc/sv/fakeroot.1
/doc/po4a-translated.stamp
faked
fakerootconfig.h
install-sh
*.la
.libs/
/libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
/scripts/fakeroot
/simple
/stamp-h1
/test/defs
/test/*.log
/test/*.trs
/test-driver
wrapdef.h
wrapped.h
wrapstruct.h
wraptmpf.h
